.exercise{
    padding: 80px 0;
}

.exercise .col-3{
    background-color: #181912;
    padding: 48px 20px;
    flex: 0 0 15%;
    max-width: 15%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.exercise .nav-link{
    margin: 10px 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #fff;
}

.exercise .col-9{
    background: url(./img/tet.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px ;
    flex: 0 0 85%;
    max-width: 85%;
}

.exercise .tab-pane{
    color: #fff;
}

input{
    outline: none;
    border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}